* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin: 2rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    gap: 0.7rem;
    margin: 3rem auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.case {
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: lightseagreen;
    background-color: white;
}

p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

p:first-of-type {
    color: lightseagreen;
    font-weight: bold;
}